doctype html
html
  head
    title Studwiz
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/knockout-3.1.0.js')
    script(type='text/javascript', src='/javascripts/main.js')
  body
    block question